root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

[*.go]
indent_style = tab
indent_size = 4

[Makefile]
indent_style = tab
indent_size = 4

[*.{md,markdown}]
indent_style = space
indent_size = 2
trim_trailing_whitespace = false

[*.{json,jsonc,yml,yaml,toml}]
indent_style = space
indent_size = 2

[*.{ts,tsx,js,jsx,mjs,cjs,css,scss,html}]
indent_style = space
indent_size = 2
